body{
    margin: 0px;
    background-color: #313552;
    color: blanchedalmond;
}
h1{
    font-size: 7rem;
    margin: 70px 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.drum{
    height: 150px;
    width: 150px;
    padding: 20px;
    color: rgb(195, 49, 73);
    font-size: 80px;
    font-weight: bolder;
    font-family: 'Lobster', cursive;
    border-radius: 20px;
    margin: 70px 20px;
    padding: 10px;
}
.letters{
    /* background-color: black; */
    width: 100%;
    position: relative;
    text-align: center;
}

#footer{
    width: 100%;
    text-align: center;
    margin: 10% 0%;
}

.images{
    height: 140px;
    width: 140px;
}

/* BUTTON IMAGE STYLING */
.w{
    background-image: url("images/tom1.png");
}

.a{
    background-image: url("images/tom2.png");
}

.s{
    background-image: url("images/tom3.png");
}

.d{
    background-image: url("images/tom4.png");
}

.j{
    background-image: url("images/snare.png");
}

.k{
    background-image: url("images/crash.png");
}

.l{
    background-image: url("images/kick.png");
}


.pressed{
    box-shadow: 0 3px 0 4px rgb(69, 138, 72);
    opacity: 0.5;
}